@use "../variables" as *;

html .topbar {
  position: sticky;
  top: 0;
  z-index: 100;
  height: $header-height;
  background-color: rgba(93, 135, 255, 0.15);
  transition: all 0.3s ease;

  .notification-badge{
    .mat-badge-content{
      left: 80%;
      bottom: 85%;
      width: 16px;
      height: 16px;
    }
  }

  &.header-scrolled {
    background-color: #ffffff !important;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
}

html.dark-theme .topbar.header-scrolled {
  background-color: #000000 !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.35);
}

.topbar-dd {
  min-width: 360px !important;
}

.apps-dd {
  min-width: 830px !important;
  overflow: unset !important;

  .mat-mdc-menu-content {
    padding: 0;
  }
}

.text-hover-primary:hover {
  .hover-text {
    color: $primary;
  }
}

.upgrade-bg {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
}

.object-cover {
  object-fit: cover;
}

.profile-dd {
  margin-top: -5px;
  margin-left: -5px;
}

.dark-theme {
  .topbar {
    .mat-mdc-icon-button {
      color: $dark-text-secondary !important;
    }

    .mdc-button {
      --mat-button-text-label-text-color: $dark-text-secondary !important;
    }

    &.header-scrolled {
      .mat-mdc-icon-button {
        color: #ffffff !important;
      }

      .mdc-button {
        --mat-button-text-label-text-color: #ffffff !important;
      }
    }
  }
}