.landing-page {
  overflow-x: hidden;

  &__sections-heading {
    font-size: 32px;
    font-weight: 700;
    margin: 8px 0 0;
    color: var(--mat-sys-on-background);
  }
}

@media (max-width: 959px) {
  .landing-page__sections-heading {
    font-size: 26px;
  }
}
