/* -- section 1 start */.outcomes-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f9ff;
  padding: 40px 20px;
}

.outcomes-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1000px;
  background: transparent;
}

.outcomes-image {
  flex: 1;
  img {
    width: 100%;
    border-radius: 4px;
    object-fit: cover;
  }
}

.outcomes-content {
  flex: 2;
  padding: 0 30px;
  line-height: 43px;

  h2 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 16px;
    color: #1f1f1f;
  }

  p {
    font-size: 18px;
    color: #333;
    margin-bottom: 24px;
    

    strong {
      font-weight: 700;
    }

    a {
      color: #0056d2;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .cta-btn {
    background-color: #0056d2;
    color: #fff;
    padding: 12px 24px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      background-color: #0041a8;
    }
  }
}

/* Responsive */
@media (max-width: 768px) {
  .outcomes-card {
    flex-direction: column;
    text-align: center;
  }

  .outcomes-content {
    padding: 20px 0 0 0;
  }
}

/* section 2 end */
.contact-page {

  .setup-process {

    mat-card-content {
      padding: 0px !important;
      padding: 30px 16px !important;
    }
  }

  .key-metric {
    box-shadow: 0px 6px 12px rgba(127, 145, 156, 0.12);
  }

  .features {

    .cardWithShadow {
      mat-card-content {
        padding: 0px !important;
      }
    }
  }
}

// Feature section 1
 
.home-page 
{
  .custom-container {
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
  }
    
  .footer-container-bookDemo {
    height: 360px !important;    // adjust this until it matches the red line
    overflow: hidden;
    margin-bottom: 0 !important;
  }
  .footer-container {
    height: 450px !important;    // adjust this until it matches the red line
    overflow: hidden;
    margin-bottom: 0 !important;
  }
    .homefooter-container {
    height: 360px !important;    // adjust this until it matches the red line
    overflow: hidden;
    margin-bottom: 0 !important;
  }
  .home-page-header {

    .header-container-content {

      .cardPosition {
        .float-image {
          animation: floatUpDown 6s ease-in-out infinite;
        }
      }

      .cardPositionTwo {

        .float-image {
          animation: floatUpDown 6s ease-in-out infinite;
        }
      }

      .loginBtn {
        .play-button {
          background-color: transparent;
          border: 2px solid var(--mat-sys-primary); // or use your theme color
          color: var(--mat-sys-primary);
          box-shadow: none;
        }

        .textSee {
          cursor: pointer;

          &:hover {
            color: var(--mat-sys-primary);
          }
        }
      }
    }
  }

  .dashboardCards {

    .card-container {

      mat-card-content {
        padding: 0px !important;
      }
    }
  }

  .tab-header {
    box-shadow: 0px 6px 12px rgba(127, 145, 156, 0.12);

    .profileTabs {
      background-color: var(--mdc-elevated-card-container-color) !important;

      .mat-mdc-tab.mdc-tab-indicator--active {
        .mdc-tab__text-label {
          color: var(--mat-sys-primary);
        }
      }
    }

  }

  .template-slider {
    .template-slider-content {
      .demo-slider {
        .demo-slide {
          animation: slide3d 15s linear infinite;
        }
      }
    }
  }
}
@media (max-width: 1199px) {
  .home-page-header {
    padding-bottom: 48px;
  }
}