.map-container{
    margin-top: -200px;
}
.container-content {
  
    background-size: cover;       /* Makes sure the image covers the entire div */
    background-position: center;  /* Centers the image */
    background-repeat: no-repeat; /* Prevents tiling */
    padding: 100px 0;             /* Adds spacing inside the div */
    color: white;                 /* Optional: ensures text is readable */
}
