.map-container{
    margin-top: -200px;
}
.container-content {
  width: 60%;
  margin: 0 auto;                /* Centers horizontally */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 0;
  color: white;
  text-align: center;            /* Centers text inside */
}
